html {
  background: #000;
}

#main,
body,
html {
  height: 100%;
}

:root {
  -webkit-font-smoothing: antialiased;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: inherit;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
