html {
  background: #000;
}

#main,
body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: inherit;
}

figure,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body,
button,
input,
select,
textarea {
  font-size: 12px;
  font-family: sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
